.description-div {
  max-height: 13vh;
  height: fit-content;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 2px solid white !important;
}

.description {
  text-align: left;
  color: aliceblue;
}

.chat-messages {
  height: 80vh;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.flex-container {
  height: 93vh !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.sidebar {
  height: 93vh;
  max-height: 93vh;
  border: 1px black;
  background-color: rgb(64, 62, 60);
  padding: 10px 0 10px 10px;
}

.chat-row {
  padding: 0px !important;
  margin-left: 0px !important;
}

.bottomBar {
  width: 100%;
  overflow-y: auto;
  height: 90%;
  max-height: 80vh;
  padding-bottom: 10px;
}

.chat-list-group {
  margin: 10px;
  height: fit-content;
  display: inline-block;
}

.fw-bold {
  color: white !important;
}

.list-text {
  color: white !important;
}

.chat-list-item {
  background-color: rgb(64, 62, 60) !important;
}

.Container {
  padding-left: 0;
  padding-right: 0;
}

/* Chatbot messages CSS */
.chat-messages {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
  padding: 1em;
  height: 83vh;
}

.chat-message {
  margin: 0.5em;
  padding: 1em;
  border-radius: 8px;
  font-size: 1rem;
}

.chat-message-div {
  width: 100%;
  display: inline-block;
  height: fit-content;
}

.chat-message.user {
  background-color: #ffc17b;
  text-align: right;
  float: right;
  justify-content: right;
  margin-left: 40%;
}

.chat-message.bot {
  background-color: #ffcd59;
  text-align: left;
  float: left;
  margin-right: 40%;
  justify-content: left;
  width: fit-content;
  /* margin-bottom: 10px; */
}

/* .chat-input {
  flex-grow: 1;
  height: 70px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 1em;
  border-radius: 8px;
  border: none;
  font-size: 0.9vw;
} */

.chat-input {
  width: 50em !important;
  height: 7vh;
  margin-top: 10px;
}

.btn-chat {
  max-height: 3em;
  margin-top: 20px;
}

.chat-form {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  height: 10vh;
  background-color: orange;
  margin: 0px;
}

.bottom-ref-div {
  position: absolute;
  bottom: 0;
}
